<h1>{{ artist.name }}</h1>
<section class="artist__albums">
  <h2>Albums</h2>
  <ul class="list list--album">
    <li class="list__item list__item--album">
      <h3>Title</h3>
    </li>
    {{#each albums}}
      {{> album role_id=../user.role.id }}
    {{/each}}
  </ul>
</section>
<section class="artist__songs">
  <h2>Songs</h2>
  <ul class="list list--songs">
    <li class="list__item">
      <h3>Title</h3>
      <h3>Artist</h3>
      <h3>Duration</h3>
    </li>
    <li class="list__item">
    {{#each songs }}
        <h4>{{ name }}</h4>
        <h4>{{ artist.name }}</h4>
        <h4>2:40</h4>
        {{#if (isEqual ../user.role.id 1)}}
          <button class="button__function button__function--red button__function--icon" onClick="deleteSong({{id}})">
            <img src="/img/icons/delete.svg" alt="trashcan">
          </button>
        {{else}}
          <h4></h4>
        {{/if}}
    {{/each}}
    </li>
  </ul>
</section>
<section class="artist__crud">
  {{#if (isSmall user.role.id 2)}}
  <h3>Change Artist Name</h3>
    <input type="text" name="name" value="{{artist.name}}" id="ArtistNameInput">
    <button class="button__function button__function--red button__function--icon" onClick="updateArtist({{artist.id}})">
      <img src="/img/icons/edit.svg" alt="edit">
    </button>
  {{/if}}
  {{#if (isEqual user.role.id 1)}}
  <h3>Create new Song</h3>
    <form action="/api/song" method="post">
      <input type="text" name="name">
      <input type="text" name="artist_id" value="{{artist.id}}" class="hidden">
      <input type="submit">
    </form>
  <h3>Create new Album</h3>
    <form action="/api/album" method="post">
      <input type="text" name="name">
      <input type="text" name="artist_id" value="{{artist.id}}" class="hidden">
      <input type="submit">
    </form>
  <h3>Delete Artist</h3>
    <button class="button__function button__function--red button__function--icon" onClick="deleteArtist({{artist.id}})">
      <img src="/img/icons/delete.svg" alt="trashcan">
    </button>
  {{/if}}
</section>